/* Our CSS file. */

.container,
.content {
  width: 100%;
  background-color: rgb(99, 166, 224);
  border: 1px solid;
}
.box {
  float: left;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 50%;
  height: max-content;
}
.row {
  padding: 0px;
  margin: 0px;
}
